Repository hyperspy/exspy, pull requests merged in 2024-09, with the labels that each got.

#82 Add link to Tutorial to User Guide
  doc/conf.py
Labels: documentation

#76 `fit_background` fixes
  exspy/models/edsmodel.py
  exspy/tests/models/test_edsmodel.py
  exspy/tests/models/test_linear_model.py
  upcoming_changes/76.bugfix.rst
Labels: bug-fix

#80 Make `numexpr` an optional dependency to allow installation in pyodide
  .github/workflows/tests.yml
  doc/user_guide/eels.rst
  doc/user_guide/install.rst
  exspy/_utils.py
  exspy/components/eels_double_power_law.py
  exspy/components/pes_see.py
  exspy/components/volume_plasmon_drude.py
  exspy/tests/components/test_double_power_law.py
  pyproject.toml
  upcoming_changes/80.enhancements.rst
Labels: documentation, enhancement, dependencies

#87 Mention source of `elements` database in docstring
  doc/reference/material.rst
  doc/user_guide/bibliography.rst
  exspy/_misc/elements.py
  exspy/_misc/material.py
  upcoming_changes/87.enhancements.rst
Labels: documentation, enhancement, needs review
