Repository hyperspy/exspy, pull requests merged in 2025-03, with the labels that each got.

#107 Add test that uses the hyperspy RELEASE_next_minor branch
  .github/workflows/tests.yml
Labels: type: maintenance

#106 Update for `BaseSignal.as_signal` changes
  doc/conf.py
  exspy/_misc/eds/utils.py
  exspy/components/eels_double_power_law.py
  exspy/components/pes_core_line_shape.py
  exspy/data/__init__.py
  exspy/models/eelsmodel.py
  exspy/tests/components/test_double_power_law.py
  exspy/tests/components/test_eels_cl_edge.py
  exspy/tests/components/test_pes_core_line_shape.py
  exspy/tests/components/test_pes_see.py
  exspy/tests/drawing/test_plot_model.py
  exspy/tests/models/test_eelsmodel.py
  exspy/tests/models/test_linear_model.py
  pyproject.toml
  upcoming_changes/106.maintenance.rst
Labels: status: needs review, type: maintenance

#108 Drop support python 3.8 and add explicit support for python 3.13
  .github/workflows/tests.yml
  pyproject.toml
  upcoming_changes/108.maintenance.rst
Labels: dependencies, type: maintenance

#109 Fix API changes in user guide
  doc/user_guide/eels.rst
  examples/model_fitting/EELS_curve_fitting.py
  exspy/_docstrings/model.py
  exspy/signals/eels.py
  exspy/tests/components/test_eels_cl_edge.py
  upcoming_changes/109.maintenance.rst
Labels: documentation
